body {
    margin: 0;
}

.subheader {
    color: #FCd801;
    background: #281B2D;
    font-size: 48px;
    border-bottom: 5px solid #00c54c;
    padding: 10px;
}

h1 {
    font-size: 72px;
    text-align: center;
    background: #281B2D;
    color: #FFF;
    margin: 0;
    padding: 25px 0;
}